Builds
JuceLibraryCode

# automatically created .gitignore by flutter create -t module
.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

*.swp
profile

DerivedData/

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

build/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# added as seen here: https://dart.dev/guides/libraries/private-files
pubspec.lock
doc/api/
# IntelliJ
*.iml
*.ipr
*.iws
fluttering/gradlew
fluttering/gradlew.bat
fluttering/local.properties
fluttering/.gradle/6.5/gc.properties
fluttering/.gradle/6.5/executionHistory/executionHistory.bin
fluttering/.gradle/6.5/executionHistory/executionHistory.lock
fluttering/.gradle/6.5/fileChanges/last-build.bin
fluttering/.gradle/6.5/fileHashes/fileHashes.bin
fluttering/.gradle/6.5/fileHashes/fileHashes.lock
fluttering/.gradle/buildOutputCleanup/buildOutputCleanup.lock
fluttering/.gradle/buildOutputCleanup/cache.properties
fluttering/.gradle/buildOutputCleanup/outputFiles.bin
fluttering/.gradle/checksums/checksums.lock
fluttering/.gradle/vcs-1/gc.properties
fluttering/gradle/wrapper/gradle-wrapper.jar
fluttering/gradle/wrapper/gradle-wrapper.properties
